body {
	background-color: #ccc;
	color: #000;
	font-family: futura, helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: futura, helvetica, arial, sans-serif;
}

header {
	overflow: hidden;
	margin: 30px 0;
}

header .links {
	text-align: right;
}

header .download-button {
	text-align: right;
	margin-bottom: 10px;
}

header .nav div {
	float: right;
}

header h2 {
	line-height: 1.25em;
	position: relative;
	top: -4px;
	font-size: 1.75em;
}

.container img.full {
	width: 100%;
}

a:hover {
	color: #0af;
	text-decoration: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background-color: #0af;
}

h1 {
	font-size: 6em;
	margin: 0;
	padding: 0;
}

h3 {
	font-size: 2em;
}

ul {
	padding: 0 0 0 1.5em;
}

.Valiant360 {
	height: 360px;;
}

pre {
	padding: 20px inherit;
	margin-bottom: 30px!important;
}

.syntaxhighlighter {
	padding: 20px 0;
	border-radius: 5px;
}

.footer-wrapper {
	padding: 50px 0 25px 0;
	margin-top: 100px;
	color: #eee;
	background-color: #333;
	overflow: hidden;
	text-align: right;
}

.special-thanks {
	background-color: #ddd;
	padding: 10px 25px 10px 25px;
	border-radius: 10px;
	margin-top: 50px;
}

.footer-wrapper a {

}